*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.header-scrolled{
    background-color: #fff;
}
.header{
    align-items: center;
    text-align: center;
}
.top-icon{
   left: auto;
   right: 50px;
   top: 10px;
}
.top-icon i{
    font-size: 28px;
    display:block;
}

.but{
    display: none;
}
.logo{
    text-align: left;
}
.butt{
    background-color: rgb(69, 69, 228);
    border-radius: 20px;
    color: #fff;
    padding: 5px 15px;
    font-size: 16px;
}
.banner{
    padding-top: 50px;
}
.banner-name{
    text-align: center;
}
.img-det-ico i,.img-det-text h5{
    color: #1877f2;
    font-weight: 700;
}
.banner-left{
    text-align: center;
}
.banner-left h5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-left img{
    height: 25px;
}
.banner-left span{
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
}
.banner-left h2{
    font-size: 60px;
    letter-spacing: 6px;
    font-weight: 800;
}
.banner-left h6{
    font-size: 20px;
}
#spa{
    display: none;
}
.banner-name h2{
    font-size: 45px;
    color: #1877f2;
}
#color{
    background: linear-gradient(90deg, rgb(141, 230, 230) 20%, rgb(243, 234, 234) 45%, rgba(241, 184, 235, 0.275) 60%);
}
.title{
    text-align: center;
    margin: 20px;
}
.title h3{
    font-weight: 700;
    color: #323258;
    padding: 10px 0px;
    font-size: 35px;
}
.img-det{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}
.about_rt_txt{
    margin-top: 10%;
}
.abt_intro{
    font-weight: 700;
}
.abt_txt2 p b,
.abt_txt3 p b{
    color: rgb(77, 74, 74);
}

/* SKILLS & EXPERIENCE */
.skills_cont h4{
    font-size: 18px;
    color: rgb(88, 85, 85);
}
.skills_wh{
    display: flex;
    justify-content: space-evenly;
}
.skills_cont p{
    font-size: 12px;
    color:rgb(184, 171, 171);
}
/* People */
.people_ico{
    font-size: 25px;
}
.people_star i{
    color:#1877f2;
}
.people_cont{
    width: 350px;
    padding: 10px;
    border-radius: 25px;
    background-color: #ebf0f1;
    margin: auto;
}
/* WHAT I DO */
.what_cont p{
    color:rgb(184, 171, 171);
    font-weight: 500;
    font-size: 16px;
}
.footer_email{
    background-color: rgba(241, 182, 237,0.4);
    padding: 10px;
    border-radius: 20px;
}
.footer_phone{
    background-color: rgba(205, 237, 245,0.4);
    padding: 10px;
    border-radius: 20px;
}
/* My Blogs */
.blog_cont img{
    border-radius: 25px;
}
.para{
    color:#b8abab;
    font-size: 15px;
}
/* Take a coffee  */
.footer_name input,
.foot_email input{
    padding: 0 50px;
    width: 100%;
    border: none;
    border-bottom: solid 1px grey;
}
[placeholder]{
    font-size: 15px;
}
.subject input{
    border: none;
    padding-top:10px ;
    width: 100%;
    border-bottom: solid 1px grey;
}
.message_here textarea{
    border-bottom: solid 1px grey;
    border: none;
    border-bottom: solid 1px grey ;
    padding-top: 30px;
    width: 100%;
} 
form{
    text-align: center;
}
.our_image3{
    margin-top: 30px;
}
.our_img{
    margin-top: 30px;
}
.footer_icon{
    text-align: right;
}
.footer_icon i{
    border: 1px solid #1877f2;
    border-radius: 50%;
    color: #1877f2;
    padding: 5px;
}
.footer_icon{
    text-align: center;
}



@media(min-width:500px){
.our_img{
    margin-top: 30px;
}
.our_latest{
    text-align: center;
}
.our_image3{
    margin-top: 30px;
}
.blog_cont{
    padding: 20px 0px;
}
.skills_whico{
    align-items: center;
}
}
@media(min-width:992px){
    .ul_list li{
        margin-left: 15px;
    }
    .but{
        display: block;
    }
    .top-icon i{
        display:none;
    }
    .our_img{
        margin-top: -30px;
    }
    .skills_whico{
        display: flex;
        align-items: flex-start;
    }
    .footer_icon{
        text-align: right;
    }
    .img-det{
        display: block;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 50px;
        text-align: center;
        border-radius:12px ;
        width: 23%;
        padding: 15px;
        background-color: rgba(249, 248, 249, 0.8);
        transform: translateX(-50%);
    }
    .ban{
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .banner-name{
        padding: 200px 0px 0px 50px;
        z-index: 1;
    }
    .user-img{
        height: 600px;
        left: 50%;
        transform: translateX(-50%);
    }
    .bann-img{
        position: relative;
        z-index: 0;
    }
    #spa{
        height: 400px;
        width: 400px;
        background-color: #fff;
        position: absolute;
        top: 87px;
        left: 0;
        right: 0px;
        border-radius: 50%;
        display: block;
        transform: translateX(-50%);
        z-index: -1;
    }
    .banner-name h2{
        font-size: 100px !important;
        letter-spacing: 6px;
        font-weight: 800;
    }
}
@media(min-width:1200px){
    .top-icon i{
        display: none;
    }
 
    .ul_list li{
        margin-left: 25px;
    }
 
   
}